<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TimesOfWorld</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;900&family=Roboto+Flex:opsz,wght@8..144,200&family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<body onload="Clock()">
  <div class="out">
    <div class="in">
      <div class="inin">
        <div class="graphic-div">
          <img style="width: 90px;" src="images/NewYork.png" alt="">
        </div>
        <div class="title-div">
          <h2>New York</h2>
        </div>

        <div name="help-div" class="help-div">
          <div class="clock-div">

            <div id="NY" class="hour">
              <div id="id_hour-tip" class="hour-in">
              </div>
            </div>

            <div class="minute">
              <div id="id_minute-tip" class="minute-in">
              </div>
            </div>

            <div class="second">
              <div id="id_second-tip" class="second-in">
              </div>
            </div>

            <div class="dot">
            </div>

          </div>
          <div class="weather-div">
            <h3><%= TempNY %>°C</h3>
            <p><%= DescriptionNY %></p>
          </div>
        </div>
      </div>


    </div>
  </div>


  <div class="out">
    <div style="background-color: red;" class="in">
      <div class="inin">
        <div class="graphic-div">
          <img src="images/Paris.png" alt="">
        </div>
        <div class="title-div">
          <h2>Paris</h2>
        </div>

        <div name="porządkowy" class="help-div">
          <div class="clock-div">

            <div id="PAR" class="hour">
              <div id="id_hour-tip" class="hour-in">
              </div>
            </div>

            <div class="minute">
              <div id="id_minute-tip" class="minute-in">
              </div>
            </div>

            <div class="second">
              <div id="id_second-tip" class="second-in">
              </div>
            </div>

            <div class="dot">
            </div>

          </div>
          <div class="weather-div">
            <h3><%= TempPAR %>°C</h3>
            <p><%= DescriptionPAR %></p>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="out">
    <div  style="background-color: green;" class="in">
      <div class="inin">
        <div class="graphic-div">
          <img src="images/Helsinki.png" alt="">
        </div>
        <div class="title-div">
          <h2>Helsinki</h2>
        </div>

        <div name="porządkowy" class="help-div">
          <div class="clock-div">

            <div id="HEL" class="hour">
              <div id="id_hour-tip" class="hour-in">
              </div>
            </div>

            <div class="minute">
              <div id="id_minute-tip" class="minute-in">
              </div>
            </div>

            <div class="second">
              <div id="id_second-tip" class="second-in">
              </div>
            </div>

            <div class="dot">
            </div>

          </div>
          <div class="weather-div">
            <h3><%= TempHEL %>°C</h3>
            <p><%= DescriptionHEL %></p>
          </div>
        </div>
      </div>


    </div>
  </div>


  <div class="out">
    <div style="background-color: grey;" class="in">
      <div class="inin">
        <div class="graphic-div">
          <img style="width: 250px;" src="images/Tokyo.png" alt="">
        </div>
        <div class="title-div">
          <h2>Tokyo</h2>
        </div>

        <div name="porządkowy" class="help-div">
          <div class="clock-div">

            <div id="TOK" class="hour">
              <div id="id_hour-tip" class="hour-in">
              </div>
            </div>

            <div class="minute">
              <div id="id_minute-tip" class="minute-in">
              </div>
            </div>

            <div class="second">
              <div id="id_second-tip" class="second-in">
              </div>
            </div>

            <div class="dot">
            </div>

          </div>
          <div class="weather-div">
            <h3><%= TempTOK %>°C</h3>
            <p><%= DescriptionTOK %></p>
          </div>
        </div>
      </div>


    </div>
  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="script.js" charset="utf-8"></script>
</body>

</html>
